@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Lato', sans-serif;

}


/*................... header.................. */
nav{
 
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7rem;
  padding: 1rem;
}
body{
  position: relative;
}
.interCom{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: #042441;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hamburgerMenu{
  display: none;

}
@media screen and (max-width:700px){
  .interCom{
    bottom: 1rem;
    right: 1rem;
  }
}
a,
a:hover,
a:focus,
a:active{
  text-decoration: none;
  color: inherit;
}


.logoImage{
  width: 10rem;
}


ul{
  display: flex;
  align-items: center;
  gap: 3rem;
  font-weight: 700;
  color:rgba(0 , 0 , 0 , 0.65);
  list-style: none;
  font-size: 17.2px;
  padding: 2rem;
  cursor: pointer;
 
}
@media screen and (max-width:700px) {
  body{
    width: 100vw;
    height: 100vh;
  }
  ul{
    display: none;
  }
  .logoImage{
    width: 9rem;
    text-align: left;
  }
  .headerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .hamburgerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00CEDE;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s ease;
  }

}

/*............ header.......................... */

/* ...................HeroOne....................... */


/* mobile Navigation */
.mobileNavItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 15%;
  background-color: red;
  font-size: 20px;

 
}
.mobileNav{
  display: flex;
  justify-content:center ;
  align-items: center;
  gap: 3rem;
}

.heroContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;  
}
.textSide{

  display: flex;
  gap: 0.4rem;
  flex-direction: column;
}
.smallerText{
  width: 25vw;
  font-size: 23px;
  color: #002444;
}
.socialCards{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
  margin-top: 2rem;
 
}
.sell{
  position: relative;
 
}

.sell::before{
  content: '';
  background-color: #f8f8f8;
  border-radius: 50% ;
  width: 100px;
  height: 100px;
  top: -20px;
  left: -30px;
  z-index: -1;
  position: absolute;
}

.sell,
.earn,
.and{
  font-size: 60px;
  font-weight: 900;
  line-height: 50px;
  color: #002444;;
  text-transform: capitalize;
  
}


.gift{
  font-size: 60px;
  font-weight: 900;
  color: #1b507e;
  text-transform: capitalize;
}

.relative{
  position: relative;
  line-height: 3.6rem;
}
.blueMark{
  position: absolute;
  top: 55px;
  right:55px;
  width: 280px;
  
  }
  @media screen and (max-width:700px) {

    .heroContainer{
      margin-left: auto;
      margin-right: 0;
      width: 100vw;
      flex-wrap: wrap;
      margin-top: 2.5rem;
    }
    .textSide{
      text-align: center;
      
      
      
    }
    .socialCards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 2rem;
      
    }


   
   .sell,
   .earn,
    .and{
      font-size:38px;
      line-height: 0%;

    }
    .blueMark{
      top: 80px;
      width: 200px;
      left: 20px;
    }
    .relative{
      line-height: 2.3rem;
      margin-bottom: 1.8rem;
      padding: 0 1.8rem;
    }
    .smallerText{
      text-align: left;
      font-size: 18px;
      width: 80vw;
      font-weight: 300;
      padding: 0 1.8rem;
    }
    
    .gift{
      font-size: 38px;
    }
    .firstHomeImage img{
      width: 350px;
      height: 350px;
    }
  }
  
  /* ................heroOne.................... */
  
  
  /* ....................CARD............... */
  
  .card{
    border-radius: 1rem;
    background-color: #002444;
    width: 225px;
    height: 215px;
    box-shadow: rgba(0, 0, 0, 0.05) 10px 24px 54px 0px;
    line-height: 18px;
    margin: 0 30px 12px 0;
    padding: 20px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
    position: relative;
   
    
    
  }
  .card::before{
    content: '';
    width: 7rem;
    height: 7rem;
    position: absolute;
    background: linear-gradient(137.76deg, #fff 18.03%, hsla(0, 0%, 100%, 0) 92.51%);
    opacity: 0.03 ;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: all 0.4s ease-out 0.3s;
    transform: translate(-70px ,70px);
  }

  .card::after{
        content: '';
        width: 7rem;
        height: 7rem;
        position: absolute;
        background: linear-gradient(137.76deg, #fff 18.03%, hsla(0, 0%, 100%, 0) 92.51%);
        opacity: 0.03;
        top: 0;
        right: 0;
        border-radius: 50%;
        transition: all 0.4s ease-out 0.3s;
        transform: translate(70px, -70px);

      }

      .card:hover::before{
    transform: translate(-10px, 10px);
    
    opacity: 0.13;
    
  }
  .card:hover::after{
    transform: translate(30px, -30px);
    opacity: 0.09;
    
  }
 
.aboutBox{
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 289.2px;
  padding:0 0 52px 0;
  margin: 80px 0 0 0 ;
  
  
}

.flexCard{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.register{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.btn{
  height: 53px;
  width: 165px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17.2px;
  font-weight: 900;
  border: none;
  background-color: #ffeaca;

}
.btnRegister{
  color: #002444;
  margin: 0 0 80px 0;
  background-color: #f8f8f8;
}
@media screen and (max-width:700px) {
  .flexCard{
    flex-direction: column;
    
  }
  .card{
    
    width: 80vw;
    margin-right: auto;
    font-size: 17px;
    
  }
  .aboutBox{
    height: fit-content;
  }
  .register{
    
    margin-top: -20px;
  }
  
}

/* ....................CARD............... */


/* ........................................... */



/* ..............BLUENOWASTE.............. */

.noWaste{
  background-color: #00CEDE;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  position: relative;
}
.nowasteContainer{
  display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    position: relative;
    
    
  }
  .toGift{
    font-size: 56px;
    color: #fff;
    font-weight: 900;
  
  }
  .weSay{
    font-size: 56px;
    color: #1b507e;
    font-weight: 900;
  }
.noWastageContainer{
  display: flex;
  gap: 3rem;
  align-items: center;
  /* border: 1px solid black; */
  

}
.noWastage{
  width: 348px;
  position: relative;
}
.underLine{
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  
}

.tallLine{
  width: 1px;
  height: 12rem;
  background-color: #002444;
}
.line{
  width: 1px;
  background-color: #002444;
  height: 6rem;
}

.aboutWaste{
  color: #1b507e;
  font-size: 17px;
  font-weight: 500;
  width: 391.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  position: relative;
  
  
}
.swiperContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem; 
}


.swiperContent{
  height: 331.5px;
  width: 520px;
  border-radius: 20px;
  background-color: #fff;
}
.swiperBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
    height: 330px;
}

.heading{
  align-items: center;
  color: #1b507e;
  font-size: 24px;
  font-weight: 900;
}
.details{
  color: #79869f;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  width:364px;
  height: 64.2px;
  margin-bottom: 0.5rem;
}
.bottom{
  width: 364px;
  height: 103px;
  text-align: center;
  /* box-shadow: rgba(129, 154, 181, 0.5) 0px 20px 40px 0px */
}
.bottomImg{
  box-shadow: rgba(129, 154, 181, 0.5) 0px 20px 40px 0px

}
.swiper-pagination-bullet-active{
  background-color: #333333 !important ;
  width: 25px !important ;
  height: 6px !important;
  border-radius: 5px !important;
  transform-origin: 50% 50% !important;
  transition: all .5s ease-out;

}

.sellCard{
  font-weight: 600;
  
}
@media screen and (max-width:700px) {
  .noWaste{
    overflow: hidden;
    margin-top: -2rem;
  }

  .noWastageContainer{
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    gap: 2rem;
    margin-top: -2rem;
  }
  .tallLine,
  .line,
  .downloadLine,
  .footerVerticalLine{
    display: none;
  }
  .swiperContainer{
   margin-right: auto;
   margin-left: auto;
  }
  .swiperContent{
    width: 85vw;
  }
 .swiperBox{
  gap: 1.5rem;
 }
  .backward,
  .forward{
    display: none;
  }
  .heading{
    font-size: 22px;
  }
  .details{
    font-size: 16px;
    width: 300px;
    height: 50px;
  }
  .bottom{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottomImg{
    width: 300px;
  }
  .aboutWaste{
    font: 14px;
    font-weight: 400;
    width: 80vw;
    gap: 1.3rem;
  }
  .weSay,
  .toGift{
    font-size: 40px;
  }
  .noWastage{
    /* border: 1px solid black; */
    width: 300px;
    margin-right: 2.4rem;
  }
  .underLine{
    top: 7.5rem;
    left: 0.2rem;
  }
}

 /* ..............BLUENOWASTE.............. */



/* ...................SecondHERO.............. */

.heroFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.becomePartnerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff8ff;
  padding: 5rem;
  position: relative;
}
.hero2Mark{
  position: absolute;
  top: 10rem;
  right: 16rem;
}
.textFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* border: 1px solid black; */

}
.textFlex h1{
  font-size: 46px;
  font-weight: 900;
  color: "#002444"
}

.textFlex p{
  width: 348px;
  height: 97.5px; 
  font-size: 17.2px;
  font-weight: 400;
}
@media screen and (max-width:700px) {
  .becomePartnerContainer{
    overflow: hidden;
    
  }
  .textFlex{
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: flex-start;
  }
  .textFlex h1{
    font-size: 35px;
    text-align: left;
    font-weight: 900;
    
  }
  .textFlex p{
    font-family: 14px;
    height: fit-content;

  }
  .hero2Mark{
    right: 4rem;
    width: 200px;
    top: 7.5rem;
  }
  .partnerPhoneSize{
    width: 100px;
    height: 100px;
  }
  .testFlex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .btn{
    font-size: 14px;
    height: 45px;

  }
 

}
/* ...................SecondHERO.............. */




/* DOWNLOAD CARDTONIC APP */

.downloadCenterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 37.5rem;
  
}
.downloadCard{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;

}

.downloadCenter{
  /* outline:1px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  
  align-items: flex-start;
  /* outline: 2px solid green; */
  /* height: 30rem; */
  
  
}
.downloadMark{
  position: absolute;
  top: 4rem;
  left: 1rem;
}

.downloadLine{
  width: 1.6px;
  height: 5rem;
  background-color: #002444;
}
.downloadSocialCard{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
}
.downloadCard h1{
  font-size: 54.6px;
  font-weight: 900;
  color: #1b507e;
}
.downloadText p{
  font-size: 17.2px;
  color: #1b507e;
  margin-bottom: 2rem; 
}

.phoneImage{
  position: absolute;
  bottom: 0;
  right: 23rem;

}
@media screen and (max-width:700px) {
  .downloadCenterContainer{
    overflow: hidden;
  }
  .downloadCard{
    flex-direction: column;
    justify-content: flex-start;
  }
 .downloadText >  :nth-child(2){
  display: none;
 }
 .downloadMark{
  top: 6rem;
  left: 0;
  
 }
  .downloadSocialCard{
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.7rem;
  }
  .downloadCard h1{
    font-size: 45px;
    /* border: 1px solid black; */
    width: max-content;
    line-height:45px;
  }
  .downloadText p{
    width: fit-content;
  }
  .phoneImage{
    right: 0;
  }
  .tradeSmallImg{
    width: 200px;
  }
}

/* DOWNLOAD CARDTONIC APP */


/* ................NEWS SECTION................. */

.centerNews{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  
}
.newsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 123px 0;
    /* border: 1px solid black; */

}
.newsTextFlex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid red; */
  position: relative;
  margin-bottom: 5rem;
}
.newsTextFlex p{
  font-size: 18px;
  color: #1b507e;
  margin-right: 4rem;
  width: 400px;
  font-weight: 400;
}
.newsLine{
  position: absolute;
  top: 3.7rem;
  right: 1rem;

}
.cardtonicNews h1{
  font-size: 54.6px;
  font-weight: 900;
  color: #1b507e;
  width:300px;
}
.newsCenter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.newsCenter img{
  width:7rem;
  height: 3rem;
  transition: all 0.7s
}
.newsCenter img:hover{
  transform: scale(1.1);
}

.horizontalLine{
  width: 100%;
  height: 0.1rem;
  background-color: #d8d8d8;
  margin-bottom: 1.5rem;
}

@media screen and (max-width:700px) {
  .centerNews{
    overflow: hidden;
    
  }
  .newsTextFlex{
    flex-direction: column-reverse;
    align-items: flex-start;
    
    margin-left: 20px;
    /* border: 1px solid black; */
    
    
  }
  .newsTextFlex p{
    font-size: 17px;
    width: 300px;
    
  }
  .newsContainer{
    
    padding: 50px;
    gap: 0.7rem;
  }
  .cardtonicNews h1{
    font-size: 45px;
    line-height: 40px;
    width: 370px;
    padding: 10px;
  }
  .newsCenter{
    flex-wrap: wrap;
    margin-top: -40px;
    
  }
  
  .horizontalLine{
    width: 75vw;
  }
  .newsLine{
    width: 200px;
    left: 0;
    top: 6rem;

  }
  .skillUpText {
    text-align: left;
    width: 300px;
  }
}

/* ................NEWS SECTION................. */


/*........... FOOTER SECTION.................. */
.footerMain{
  background-color: #000; 
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 77px 0 46px 0;
  color: #fff;  
}
.footerContentContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 62rem;
  gap: 2rem;
}

.footerVerticalLine{
  height: 200px;
  width: 1px;
  background-color: #333333;
}
.footerLinks{
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  width: 25rem;
}

.footerFirstFLex{
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 50px;
}
.footerLine{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 1.3px;
  background-color: #333333;
}

.copyright{
  text-align: center;
  padding: 40px;
}
.customer,
.business{
  line-height: 30px;
}
.customer p,
.business p{
  font-size: 13px;
}
.customer h3,
.business h3 {
  font-size: 16px;
}
.footerSocialCard{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cardtonicSocial{
  color: #00CEDE;
}


@media screen and (max-width:700px) {
  .footerMain{
    overflow: hidden;
  }
  .footer{
    padding: 30px;
   margin-left: 26vw;
  }
  .footerContentContainer{
    flex-direction: column;
  
  }
  .footerLinks{
    flex-direction: column;
    align-items: flex-start;
  }
  .footerLine{
   width: 310px;
   margin-top: 2rem;
   margin-left: -26vw;
   
  }
  .footerSocialCard{
    width: 270px;
    gap: 2rem;
    
  }
  .customer h3,
  .business h3 {
      font-size: 13px;
    }
  .customer p,
  .business p{
    font-size: 13px;
  }
  .cardtonicSocial{
    width: 285px;
    display: flex;
  }
  .socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .cardtonicSocial p{
    font-size: 13px;
  }
  .cardtonicSocial span
  .phoneNumber{
    font-size: 14px;
  }
  .footerFirstFLex p{
    font-size: 15px;
    width: 70vw;
  }
  .footerFirstFLex img{
    width: 150px;
  }
  .copyright{
    font-size: 13px;
    margin-right: 7rem;
    /* border: 1px solid white; */
    width: max-content;
   
  }

 .footerInLine{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 1.3px;
  background-color: #333333;
 }
 .footerInLineOne{
  width: 70vw;
  height: 1.3px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8rem;
  margin-top: -4rem;
 }
}
/*........... FOOTER SECTION.................. */


@media screen and (max-width: 300px){
  .logoImage{
    width: 4.5rem;
    margin:0 auto;
  }
  .firstHomeImage img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
 
  .noWaste{
    align-items: flex-start;
  }
  .nowasteContainer{
    width: 100vw;
  }
}
